@import "mixin";
@import "reset";
@import "variables";
#header{
  background: #121517;
  padding: 25px 0;
  .header{
    display: flex;
    align-items: center;
    h1{
      font-weight: 800;
      font-size: 37.5996px;
      letter-spacing: -0.03em;
      background: linear-gradient(263.46deg, #237249 3.14%, #35C66B 87.2%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
    }
    a{
      font-weight: 400;
      font-size: 19.1743px;
      line-height: 23px;
      display: flex;
      align-items: flex-end;
      color:$p;
      margin: 0 82px;
    }
  }
}
#hero{
  .hero{
    position: relative;
    @include between();
    &--title{
      h1{
        font-weight: 800;
        font-size: 80px;
        line-height: 109.47%;
        letter-spacing: -0.03em;
        color:$wh;
        padding-top: 60px;
        span{
          font-size: 80px;
          color: #237249;
        }
      }
      p{
        font-weight: 400;
        font-size: 20px;
        line-height: 163.47%;
        letter-spacing: -0.02em;
        color:$wh;
        padding: 60px 0;
      }
      &__btn{
        width: 333.38px;
        height: 74.65px;
        background: linear-gradient(265.23deg, #237249 6.79%, #35C66B 97.2%);
        border-radius: 82.834px;
        font-weight: 639;
        font-size: 24px;
        letter-spacing: -0.02em;
        color:$wh;
        margin: 0 11px;
      }
      &__btn1{
        width: 167.97px;
        height: 74.65px;
        background: rgba(0, 0, 0, 0.44);
        border-radius: 82.834px;
        font-weight: 400;
        font-size: 24px;
        letter-spacing: -0.03em;
        color:$wh;
      }
      &__h2{
        @include start();
        padding-top: 30px;
        &--h3{
          margin: 0 25px;
        }
        h2{
          font-weight: 400;
          font-size: 62px;
          letter-spacing: -0.03em;
          color:$wh;
          span{
            color:$js;
            font-size: 62px;
          }
        }
        h4{
          font-weight: 400;
          font-size: 20px;
          line-height: 144.47%;
          letter-spacing: -0.02em;
          color:$p;
        }
      }
    }
    &--ab{
      position: absolute;
      top: 22px;
      right: 67px;
      width: 160px;
      height: 153px;
      border-radius: 127px;
      background: #237249;
      h1{
        padding: 36px 19px;
        font-weight: 400;
        font-size: 62px;
        letter-spacing: -0.03em;
        color:$wh;
        transform: rotate(340deg);
      }
    }
    &--abs{
      position: absolute;
      top: 20px;
      left: 40px;
      width: 324px;
      height: 324px;
      background: linear-gradient(267.2deg, rgba(35, 114, 73, 0.11) 3.05%, rgba(53, 198, 107, 0.146) 40.73%);
      filter: blur(87.75px);
    }
    &--abs1{
      position: absolute;
      width: 289px;
      height: 289px;
      top: 306px;
      left: 288px;
      background: rgba(255, 255, 255, 0.04);
      filter: blur(32.2708px);
    }
    &--abs2{
      position: absolute;
      width: 229px;
      height: 229px;
      right: 265px;
      top: 103px;
      z-index: -1;
      background: rgba(217, 217, 217, 0.3);
      filter: blur(62.0208px);
    }
    &--abs3{
      position: absolute;
      width: 283px;
      height: 244px;
      top: 365px;
      right: 30px;
      background: linear-gradient(267.2deg, rgba(35, 114, 73, 0.55) 3.05%, rgba(53, 198, 107, 0.73) 40.73%);
      filter: blur(87.75px);
      z-index: -1;
    }
    &--abs4{
      img{
        position: absolute;
        top: 181px;
        right: -151px;
        z-index: -1;
      }
    }

  }
}
#block{
  padding: 40px 0;
  .block{
    position: relative;
    &--title{
      position: relative;
      width: 1029px;
      height: 372px;
      background: linear-gradient(264.52deg, #FFFFFF 4.95%, #E5E5E5 64.19%, #FBFBFB 88.37%);
      border-radius: 46px;
      margin: 101px 75px;
      &__card{
        position: absolute;
        top: 21px;
        left: 114px;
        width: 180px;
        height: 180px;
        border-radius: 84px;
        background: #237249;
        img{
          margin-left: 16px;
        }
        h1{
          font-weight: 500;
          font-size: 32px;
          text-align: center;
          letter-spacing: -0.02em;
          color:$bl;
          padding-top: 24px;
        }
        p{
          font-weight: 400;
          font-size: 20.1334px;
          line-height: 163.47%;
          text-align: center;
          letter-spacing: -0.02em;
          color:$bl;

        }
      }
      &__card1{
        position: absolute;
        top: 21px;
        left: 416px;
        width: 180px;
        height: 180px;
        border-radius: 84px;
        background: #237249;
        img{
          margin-left: -24px;
        }
        h1{
          font-weight: 500;
          font-size: 32px;
          text-align: center;
          letter-spacing: -0.02em;
          color:$bl;
        }
        p{
          font-weight: 400;
          font-size: 20.1334px;
          line-height: 163.47%;
          text-align: center;
          letter-spacing: -0.02em;
          color:$bl;

        }
      }
      &__card2{
        position: absolute;
        top: 21px;
        right: 114px;
        width: 180px;
        height: 180px;
        border-radius: 84px;
        background: #237249;
        img{
          margin: 23px -16px;
        }
        h1{
          font-weight: 500;
          font-size: 32px;
          text-align: center;
          letter-spacing: -0.02em;
          color:$bl;
          padding-top: 10px;
        }
        p{
          font-weight: 400;
          font-size: 20.1334px;
          line-height: 163.47%;
          text-align: center;
          letter-spacing: -0.02em;
          color:$bl;

        }
      }
    }
    &--ion{
      position: absolute;
      top: -58px;
      left: 28px;
      width: 140px;
      height: 140px;
      border-radius: 88px;
      background: #237249;
      h1{
        font-weight: 500;
        font-size: 32px;
        text-align: center;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color:$wh;
        margin-top: 23px;
      }
    }
    &--ions{
      @include jh();
      top: -28px;
      left: -54px;
    }
    &--ions1{
      @include black();
      top: 204px;
      right: -18px;
      z-index: -1;
    }
  }
}
#images{
  padding: 80px 0;
  position: relative;
  .images{
    @include between();
    &--title{
      &__blo{
        position: absolute;
        top: 30px;
        left: 30px;
        z-index: -1;
        width: 465px;
        height: 684px;
        background: #237249;
      }
    }
    &--block{
      h1{
        font-weight: 800;
        font-size: 80px;
        letter-spacing: -0.03em;
        color:$wh;
        span{
          font-size: 80px;
          color:$js;
        }
      }
      p{
        font-weight: 400;
        font-size: 20px;
        line-height: 163.47%;
        letter-spacing: -0.02em;
        color:$p;
        padding: 30px 0;
      }
      button{
        position: absolute;
        bottom: 161px;
        right: 202px;
        width: 326px;
        height: 75px;
        background: linear-gradient(265.23deg, #237249 6.79%, #35C66B 97.2%);
        border-radius: 82.834px;
        font-weight: 639;
        font-size: 24px;
        letter-spacing: -0.02em;
        color:$wh;
        ion-icon {
          color: $wh;
        }
      }
    }
  }
}